* {
    margin: 0%;
    padding: 0%;
}

.main {
    /* border: black 2px solid; */
    width: 90%;
    height: 500px;
    margin: auto;
}

.header {
    width: 98%;
    height: 100px;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.logo {
    width: 20%;
    height: 100px;
    background-color: rgb(77, 255, 71);
}

.navbar {
    width: 60%;
    height: 100px;
    background-color: rgb(77, 255, 71);
}

.body {
    width: 98%;
    height: 400px;
    background-color: rgb(223, 208, 208);
    margin: 0% auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

.item {
    width: 25%;
    height: 200px;
    background-color: rgb(255, 0, 0);
    margin: 0%;

}

@media (min-width: 200px) and (max-width: 680px) {
    .main {
        background-color: yellow;
        display: flex;
    }

    .header {
        width: 30%;
        height: 500px;
        background-color: tomato;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        margin: 0%;
        align-items: center
    }

    .body {
        width: 65%;
        height: 500px;
        background-color: rgb(223, 208, 208);
        margin: 0% auto;
        display: flex;
        /* flex-direction: column; */
        /* justify-content: space-around; */
        flex-wrap: wrap;
        /* gap: 5px; */
    }

    .item {
        width: 25%;
        height: 200px;
        background-color: rgb(255, 0, 0);
       
        /* margin:2% auto; */

    }
    .spacific{
        flex-grow: 2;
    }
}