/* @import url('./index.css'); */

body{
     
    background-image: linear-gradient(rgb(200,140,111),rgba(122,200,189));
    /* background-image: linear-gradient(rgba(149, 232, 163, 0.3),rgba(81, 228, 127, 0.3)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1ayxhpiYYkpcJ17sCXKKu7CIenKTvdO9YWQ&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover; */
    /* background-attachment: scroll; */

}